#all {
    width: 1200;
}

#rightCol {
    float:right;
    font-family: sans-serif;
}

.ocean {
  fill: #bcd1f1;
  stroke: none;
  vector-effect: non-scaling-stroke;
}

.country {
  fill: #EEE;
  stroke: #BBB;
  vector-effect: non-scaling-stroke;
}

.lake {
  fill: #bcd1f1;
  stroke: none;
}

.river {
  fill: none;
  stroke: #bcd1f1;
  vector-effect: non-scaling-stroke;
}

.daylight {
  fill: 	"#000080";
}

rect#mybutton{
  fill: #000;
  fill-opacity: 0.2;
  stroke: #000;
  stroke-width: 1;
  font-family: sans-serif
}

#info {
  margin-top:1em;
  height:1em;
  font-family: monospace;
}

#legend {
  margin-top:1em;
  height:1em;
  font-family: monospace;
}

svg {
    display: block;
}
